.achievements {
  overflow: hidden;
  width: 100%;
  background: #5C4EAE;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  padding: 60px 0;
  position: relative;
}

.line {
  width: 1px;
  height: 123px;
  border: 1px solid rgba(197, 197, 197, 1);
  opacity: 0.15;
}

.achievements__item {
  text-align: center;
}

.achievements__item h2 {
  color: rgba(255, 255, 255, 1);
  font-family: sans-serif;
  font-size: 43.2px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
}

.achievements__item p {
  font-size: 14px;
  opacity: 0.9;
  line-height: 1.5;
  font-family: var(--font-inter);
}

.achievements::after,
.achievements::before {
  pointer-events: none;
}

.achievements::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1024.2508922832858px;
  height: 100%;
  background-image: url('../../image/Vector 7.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.achievements::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 947.9342390768563px;
  height: 100%;
  background-image: url('../../image/Vector 4.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.arc_right {
  position: relative;
}

.arc_right::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 247.65px;
  height: 392.97px;
  background-image: url('../../image/Vector 6.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.app {
  display: flex;
  align-items: center;
  width: 100%;
  height: 745px;
  justify-content: space-around;
}

.app__image img {
  /* position: relative;   */
  width: 304px;
  height: 609px;
  /* border: 1px solid red; */
}

/* .app__image img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  border: 1px solid red;
} */

.app__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 520px;
  /* background-color: red; */
  position: relative;
  /* height: 700px; */
}

.vector14{
  position: absolute;
  bottom: -100px;
  right: 190px;
}
.app__title {
  font-family: var(--font-inter);
  font-size: 46px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  margin-bottom: 30px;
}

.app__title span {
  color: #5C4EAE;
}

.app__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
}

.app__list-item {
  display: list-item;
  font-family: var(--font-inter);
  font-size: 18px;
  color: #606060;
  line-height: 1.6;
  list-style: disc;
  margin-left: 20px;
}

.app__btn {
  /* padding: 20px 68px 20px 26px; */
  border-radius: 14.68px;
  background: rgba(108, 95, 188, 1);
  color: #fff;
  font-size: 18.06px;
  border: none;
  font-family: var(--font-poppins);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 63px;
  gap: 10px;
/* 
  background-image: url('./public/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: right 40px center;
  background-size: 18px; */
}
.app__btn img{
  width: 27px;
  height: 27px;
}
@media (max-width: 700px) {
  .app{
    flex-direction: column-reverse;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
  }
  .vector14{
    display: none;  
  }
  .app__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .achievements__item h2{
    font-size: 30px;
  }
  .achievements__item p{
    font-size: 10px;
  }
  .achievements{
    height: 156px;
  }
  .app__image img{
    width: 216px;
    height: 433px;
  }
  .app__title{
    font-size: 36px;
  }
  .app__list-item{
    font-size: 14px;
    width: 389px;
  }
  .app__btn{
    width: 132px;
    height: 44px;
    border-radius: 10px;
    font-size: 12px;
  }
  .app__btn img{
    width: 19px;
    height: 19px;
  }
  .app{
    height: auto;
  }
  .vector14{
    width: 80px;
    height: 109px;
    bottom: -68px;
    right: 210px;
  }
}
@media (max-width: 700px) {
  .app{
    flex-direction: column-reverse;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
  }
  .vector14{
    display: none;  
  }
  .app__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .achievements{
    display: flex;
    flex-direction: column;
    height: 748px;
  }
  .app{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    gap: 10px;
    height: auto;
  }
  .app__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  .vector14{
    transform: rotate(90deg);
    right: 0;
    left: 100px;
    bottom: -100px;
  }
}