.achievements {
  overflow: hidden;
  width: 100%;
  background: #5C4EAE;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  padding: 60px 0;
  position: relative;
  margin-bottom: 103.5px;
}


.line {
  width: 1px;
  height: 123px;
  border: 1px solid rgba(197, 197, 197, 1);
  opacity: 0.15;
}

.achievements__item {
  text-align: center;
}

.achievements__item h2 {
  color: var(--base/white, rgba(255, 255, 255, 1));

  font-family: Public Sans;
  font-size: 43.2px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: center;
}

.achievements__item p {
  font-size: 14px;
  opacity: 0.9;
  line-height: 1.5;
  font-family: var(--font-inter);
}

.achievements::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 1024.2508922832858px;
  height: 100%;
  background-image: url('../../image/Vector 7.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.achievements::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 947.9342390768563px;
  height: 100%;
  background-image: url('../../image/Vector 4.svg');
  background-repeat: no-repeat;
  background-size: contain;
}


.arc_right::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;

  width: 247.65px;
  height: 392.97px;
  background-image: url('../../image/Vector 6.svg');
  background-repeat: no-repeat;
  background-size: contain;

}

.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 120px;
  padding: 80px 0;
}

.app__image {
  position: relative;
  width: 304px;
  height: 609px;
}

.app__image::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url('../../image/app/Screenshot.svg');
  background-repeat: no-repeat;
  background-size: 269.55px 578.8px;
  background-position: center center;
  z-index: 1;
}

.app__image img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}



.app__content {
  display: flexbox;
  flex-direction: column;
  align-items: flex-start;
  max-width: 520px;
  position: relative;
}

.app__content::before {
  content: "";
  position: absolute;
  top: 350px;
  right: 275px;
  width: 87.01px;
  height: 154.49px;
  background-image: url('../../image/app/Vector 14.svg');
  background-repeat: no-repeat;
  background-size: contain;

}

.app__title {
  font-family: var(--font-inter);
  font-size: 46px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  margin-bottom: 30px;
}

.app__title span {
  color: #5C4EAE;
}

.app__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
}

.app__list-item {
  font-family: var(--font-inter);
  font-size: 18px;
  color: #606060;
  line-height: 1.6;
  list-style: disc;
  margin-left: 20px;
}

.app__btn {
  padding: 20px 68px 20px 26px;
  /* чуть больше справа для стрелки */
  border-radius: 14.68px;
  background: rgba(108, 95, 188, 1);
  color: #fff;
  font-size: 18.06px;
  border: none;
  font-family: var(--font-poppins);


  background-image: url('../../image/app/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: right 40px center;
  background-size: 18px;
}


.app__decor {
  margin-top: 30px;
  width: 120px;
}