.promo {
  max-width: 1214px;
  max-height: 280px;
  margin: 80px auto;
  padding: 40px 48px;

  background: #6C5FBC;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: visible;
  margin-bottom: 216px;
}

.promo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./public/Mask Group.svg");
  background-repeat: repeat;
  opacity: 0.8;
}

.promo__content {
  position: relative;
  z-index: 2;
}

.promo__title {
  margin-bottom: 9px;
  font-family: var(--font-poppins);
  color: rgba(255, 255, 255, 1);
  font-size: 70px;
  font-weight: 800;
  line-height: 105px;
  letter-spacing: 0%;
}

.promo__form {
  display: flex;
  align-items: center;
  background: #ede9ff;
  border-radius: 14px;
  padding: 6px;
  width: 420px;
}

.promo__input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 21px;
  outline: none;
  font-family: var(--font-poppins);
  font-size: 16.27px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: capitalize;
}

.promo__btn {
  padding: 16px 25px;
  background: rgba(108, 95, 188, 1);
  border-radius: 11.25px;
  color: rgba(247, 248, 250, 1);
  border: none;
  font-family: var(--font-poppins);
  font-size: 14.75px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
}

.promo__image {
  position: relative;
  z-index: 2;
  top: 70px;
}

/* //////////////////////////////////////// */

/* ===== FOOTER ===== */

.footer {
  margin-top: 80px;
  padding: 96px 90px 81px 103px;
  background: #f5f5f5;
  font-family: var(--font-inter);
  width: 100%;
}

/* верхняя часть */
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 28px;
  border-bottom: 1px solid #e3e3e3;
}

.footer__company img {
  width: 150.7px;
  height: 57px;
}

.footer__nav {
  display: flex;
  gap: 70px;
}

.footer__nav a {
  color: rgba(153, 153, 153, 1);
  font-family: var('--font-inter');
  font-size: 17.83px;
  font-weight: 500;
  line-height: 26.74px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.footer__down {
  margin-top: 58px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_license p {
  color: rgba(153, 153, 153, 1);
  font-family: var('--font-inter');
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

.footer_logos {
  display: flex;
  align-items: center;
  gap: 54px;
}

.footer_logos img {
  width: 21.34px;
  height: 20.36px;
}
