.promo {
  max-width: 1214px;
  max-height: 280px;
  margin: 182px auto;
  padding: 37px 66px;

  background: #6C5FBC;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: visible;
  margin-bottom: 216px;
}

.promo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./public/Mask Group.svg");
  background-repeat: repeat;
  opacity: 0.8;
}

.promo__content {
  position: relative;
  z-index: 2;
}

.promo__title {
  margin-bottom: 9px;
  font-family: var(--font-poppins);
  color: rgba(255, 255, 255, 1);
  font-size: 70px;
  font-weight: 800;
  line-height: 105px;
  letter-spacing: 0%;
}

.promo__form {
  display: flex;
  align-items: center;
  background: #ede9ff;
  border-radius: 14px;
  padding: 6px;
  width: 420px;
}

.promo__input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 21px;
  outline: none;
  font-family: var(--font-poppins);
  font-size: 16.27px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: capitalize;
}

.promo__btn {
  padding: 16px 25px;
  background: rgba(108, 95, 188, 1);
  border-radius: 11.25px;
  color: rgba(247, 248, 250, 1);
  border: none;
  font-family: var(--font-poppins);
  font-size: 14.75px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
}

.promo__image {
  position: relative;
  z-index: 2;
  top: 70px;
}

/* //////////////////////////////////////// */

/* ===== FOOTER ===== */

.footer {
  margin-top: 80px;
  padding: 96px 90px 81px 103px;
  background: #f5f5f5;
  font-family: var(--font-inter);
  width: 100%;
}

/* верхняя часть */
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 28px;
  border-bottom: 1px solid #e3e3e3;
}

.footer__company img {
  width: 150.7px;
  height: 57px;
}

.footer__nav {
  display: flex;
  gap: 70px;
}

.footer__nav a {
  color: rgba(153, 153, 153, 1);
  font-family: var('--font-inter');
  font-size: 17.83px;
  font-weight: 500;
  line-height: 26.74px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.footer__down {
  margin-top: 58px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_license p {
  color: rgba(153, 153, 153, 1);
  font-family: var('--font-inter');
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

.footer_logos {
  display: flex;
  align-items: center;
  gap: 54px;
}

.footer_logos img {
  width: 21.34px;
  height: 20.36px;
}

.footer_logos--mobile {
  display: none;
}



@media (max-width: 1024px) {

  .promo {
    padding: 26px 47px;
    max-width: 100%;
    margin: 130px auto;
    margin-bottom: 153px;
    width: 80%;
  }

  .promo__title {
    font-size: 50px;
  }

  .promo__form {
    width: 313px;
  }

  .promo__input {
    padding: 15.5px;
    font-size: 11.5px;
  }

  .promo__btn {
    padding: 11px 18px;
    font-size: 10.49px;
  }

  .promo__image img {
    width: 195px;
    height: auto;
  }

  .footer {
    padding: 68px 64px 57px 73px;
  }

  .footer__nav {
    gap: 50px;
  }

  .footer__nav a {
    font-size: 12.68px;
  }

  .footer_license p {
    font-size: 12.09px;
  }

  .footer_logos {
    gap: 38px;
  }
}


@media (max-width: 480px) {

  /* ===== PROMO ===== */

  .promo {
    width: 90%;
    padding: 35px 27px 95px;
    margin: 80px auto 95px;
    border-radius: 15px;
    position: relative;
    justify-content: center;
  }

  .promo__title {
    font-size: 41.45px;
    line-height: 62px;
    text-align: center;
    margin-bottom: 16px;
  }

  /* форма — в одну строку */
  .promo__form {
    width: 100%;
    max-width: 260.29px;
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 9.26px;
    margin: 0 auto;
  }

  .promo__input {
    padding: 15px;
    font-size: 10.58px;
  }

  .promo__btn {
    padding: 7px;
    font-size: 9.59px;

    /* 🔑 кнопка не ломается */
  }

  /* картинка еды */
  .promo__image {
    position: absolute;
    left: 50%;
    bottom: -100px;
    top: auto;
    transform: translateX(-50%);
  }

  .promo__image img {
    width: 200px;
    height: auto;
  }


  .promo__image img {
    width: 170px;
    height: auto;
  }

  .promo::before {
    display: none;
  }

  .promo__content {
    margin: 0 auto;
    text-align: center;
  }

  /* ===== FOOTER ===== */

  .footer {
    padding: 55px 30px 36px;
  }

  /* верхний блок */
  .footer__top {
    flex-wrap: wrap;
    row-gap: 55px;
  }

  /* логотип + иконки в одну строку */
  .footer__company {
    order: 1;
  }

  .footer_logos {
    order: 2;
    margin-left: auto;
    /* 🔑 толкаем вправо */
    display: flex;
    gap: 20px;

  }

  /* навигация ниже */
  .footer__nav {
    padding-left: 3px;
    flex-direction: column;
    order: 3;
    width: 100%;
    justify-content: center;
    gap: 26px;
  }


  .footer__nav a {
    color: rgba(112, 121, 139, 1);
    text-transform: uppercase;
  }

  /* нижний блок */
  .footer__down {
    justify-content: center;
    margin-top: 40px;
  }

  .footer__down .footer_logos {
    display: none;
  }

  .footer_license p {
    font-size: 13.5px;
    text-align: center;
  }

  .footer_logos--desktop {
    display: none;
  }

  .footer_logos--mobile {
    display: flex;
    gap: 20px;
  }

  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .promo__image{
    display: none;
  }
}