.container {
  width: 100%;
}

.container-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.questions {
  padding: 200px 0 90px 0;
  width: 100%;
}

.title {
  margin-bottom: 90px;
  text-align: center;
  font-family: var(--font-poppins);
  font-size: 45px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
}

.title div {
  color: rgb(108, 95, 188)
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}