.dishesPart{
    /* border: 1px solid red; */
    border-bottom: 1px solid rgba(203, 203, 203, 1);
    height: 725px;
    width: 70%;
    margin-bottom: 100px;
}
.DishesCards{
    display: flex;
    justify-content: space-around;
}