.dishesPart{
    border-bottom: 1px solid rgba(203, 203, 203, 1);
    height: 645px;
    width: 85%;
    margin-bottom: 100px;
}
.DishesCards{
    display: flex;
    justify-content: center;
    gap: 30px;
}