.dishesCard{
    margin-top:75px;
    width: 224px;
    height: 370px;
    border-radius: 34px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    padding: 0 10px;
    transition: transform .3s;
}
.dishesCard:hover{
    transform: scale(1.1);
}
.yellowTextDishes{
    background-color: rgba(247, 237, 208, 1);
    width: 58px;
    height: 22px;
    border-radius: 4px;
    color: rgba(218, 163, 26, 1);
    font-weight: 400;
    font-size: 11px;
    font-family: var(--font-poppins);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nameDishes{
    color: rgba(50, 49, 66, 1);
    font-weight: 600;
    font-size: 23px;
    font-family: var(--font-poppins);
}
.timeTextDishes{
    color: rgba(142, 151, 166, 1);
    font-weight: 400;
    font-size: 17px;
    font-family: var(--font-manrope);
}
.costDishes{
    color: rgba(50, 49, 66, 1);
    span{
        color: rgba(142, 151, 166, 1);
        font-size: 18px;
    }
    font-weight: 700;
    font-family: var(--font-manrope);
    font-size: 25px;
}
.addBtn{
    background-color: rgba(50, 49, 66, 1);
    width: 43px;
    height: 39px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    font-weight: 700;
}
.inner-bottom-side-dishes{
    display: flex;
    justify-content: space-between;
}
.bottom-side-card-dishes{
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    gap: 10px;
}
.top-side-card-dishes{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
    .fa-heart{
        position: absolute;
        top: 0px;
        right: 0;
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .dishesCard{
        width: 158px;
        height: 277px;
        border-radius: 24px;
        border: 1px solid red;
    }
    .top-side-card-dishes img{
        width: 143px;
        height: 148px;
        object-fit: cover;
    }
    .yellowTextDishes{
        width: 45px;
        height: 15px;
        border-radius: 3px;
        font-size: 8px;
    }
    .nameDishes{
        font-size: 16px;    
    }
    .timeTextDishes{
        font-size: 12px;
    }
    .costDishes{
        font-size: 18px;
        span{
            font-size: 13px;
        }
    }
    .addBtn{
        width: 31px;
        height: 28px;
        border-radius: 6px;
        font-size: 15px;
    }
}