
.container{
    position: relative;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(249, 249, 249, 1);
}
.left-side-nav{
    display: flex;
}
.main-nav{
    width: 100%;
    background-color: white;
    height: 100px;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
}
.nav{
    display: flex;
    border-bottom: 2px solid rgba(203, 203, 203, 1);
    height: 100px;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
.main-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.left-side-nav {
    display: flex;
    align-items: center;
    gap: 60px
    ;
}

.right-side-inner-nav a{
    font-weight: 500;
    font-family: var(--font-inter);
    color: rgba(96, 96, 96, 1);
    font-size: 17.83px;
    margin: 0 30px;
}
.logBtn{
    font-weight: 700;
    font-size: 17px;
    color: rgba(96, 96, 96, 1);
    font-family: var(--font-inter);
}
.signBtn{
    width: 121px;
    height: 62px;
    padding: 17px 26px;
    border-radius: 17.83px;
    background-color: rgba(108, 95, 188, 1);
    font-weight: 700;
    font-size: 17.83px;
    color: rgba(249, 249, 249, 1);
    font-family: var(--font-inter);
    margin-left: 30px;
}

.content-main{
    margin-top: 100px;
    display: flex;
    width: 70%;
    align-items: center;
    /* height: 80vh; */
    justify-content: space-between;
}
.over-text{
    color: rgba(32, 31, 31, 0.2);
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 15px;
}
.header-enjoy-text{
    font-weight: 600;
    font-size: 75px;
    font-family: var(--font-poppins);
    color: rgba(32, 31, 31, 1);
    span{
        color: rgba(92, 78, 174, 1);
    }
}
.eatly-text{
    font-weight: 400;
    font-size: 18px;
    font-family: var(--font-inter);
    color: rgba(103, 103, 103, 1);
    width: 499px;
    line-height: 28px;
    span{
        color: rgba(92, 78, 174, 1);
    }
}
.getBtn{
    width: 159px;
    height: 59px;
    background-color: rgba(108, 95, 188, 1);
    border-radius: 12px;
    font-weight: 500;
    font-family: var(--font-inter);
font-size: 16px;
color: rgba(255, 255, 255, 1);
}
.goBtn{
    margin-left: 20px;
    width: 110px;
    height: 59px;
    border-radius: 12px;
    border: 1.5px solid rgba(108, 95, 188, 1);
    font-weight: 500;
    font-family: var(--font-poppins);
    font-size: 16.27px;
    color: rgba(108, 95, 188, 1);
}
.rate-main{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    
    p{
        /* margin-left: 20px; */
        color: rgba(51, 65, 85, 1);
    font-family: var(--font-inter);
    font-weight: 300;
    font-size: 16px;
    }
}
.stars-img {
   img{
     margin: 0 3px;
   }
    display: flex;
    align-items: center;
    justify-self:center;
}
.left-side-content{
    height: 492px;
    width: 568px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttons-main{
    margin-top: 20px;
}