    .container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(249, 249, 249, 1);
    }

    .img-main {
        height: auto;
    }

    .main-nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: var(--header-height);
        background-color: white;
        z-index: 1000;
        display: flex;
        justify-content: center;
    }

    .right-side-content img {
        width: 500px;
        height: auto;
        /* чтобы сохранялись пропорции */
    }

    .nav {
        display: flex;
        border-bottom: 2px solid rgba(203, 203, 203, 1);
        height: 100px;
        width: 85%;
        justify-content: space-between;
        align-items: center;
    }

    .left-side-nav {
        display: flex;
        align-items: center;
        gap: 60px;
    }

    .main-page {
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
    }

    .right-side-inner-nav {
        display: flex;
        gap: 30px;
    }

    .right-side-inner-nav a {
        font-weight: 500;
        font-family: var(--font-inter);
        color: rgba(96, 96, 96, 1);
        font-size: 17.83px;
        /* display: flex; */
        /* margin: 0 30px; */
    }

    .logBtn {
        font-weight: 700;
        font-size: 17px;
        color: rgba(96, 96, 96, 1);
        font-family: var(--font-inter);
    }

    .signBtn {
        width: 121px;
        height: 62px;
        padding: 17px 26px;
        border-radius: 17.83px;
        background-color: rgba(108, 95, 188, 1);
        font-weight: 700;
        font-size: 17.83px;
        color: rgba(249, 249, 249, 1);
        font-family: var(--font-inter);
        margin-left: 30px;
    }

    .content-main {
        margin-top: 100px;
        display: flex;
        width: 85%;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }

    .over-text {
        color: rgba(32, 31, 31, 0.2);
        font-family: var(--font-poppins);
        font-weight: 600;
        font-size: 15px;
    }

    .header-enjoy-text {
        font-weight: 600;
        font-size: clamp(53px, 5vw, 75px);
        font-family: var(--font-poppins);
        color: rgba(32, 31, 31, 1);
        width: 600px;
    }

    .header-enjoy-text span {
        color: rgba(92, 78, 174, 1);
    }

    .eatly-text {
        font-weight: 400;
        /* font-size: clamp(18px, 9px); */
        font-family: var(--font-inter);
        color: rgba(103, 103, 103, 1);
        width: 499px;
        line-height: 28px;
    }

    .eatly-text span {
        color: rgba(92, 78, 174, 1);
    }

    .getBtn {
        width: 159px;
        height: 59px;
        background-color: rgba(108, 95, 188, 1);
        border-radius: 12px;
        font-weight: 500;
        font-family: var(--font-inter);
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
    }

    .goBtn {
        margin-left: 20px;
        width: 110px;
        height: 59px;
        border-radius: 12px;
        border: 1.5px solid rgba(108, 95, 188, 1);
        font-weight: 500;
        font-family: var(--font-poppins);
        font-size: 16.27px;
        color: rgba(108, 95, 188, 1);
    }

    .rate-main {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        width: 300px;
        justify-content: center;
    }

    .rate-main p {
        color: rgba(51, 65, 85, 1);
        font-family: var(--font-inter);
        font-weight: 300;
        font-size: 16px;
    }

    .stars-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stars-img img {
        margin: 0 3px;
    }

    .left-side-content {
        height: 492px;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .buttons-main {
        margin-top: 20px;
        width: 300px;
    }

    .menuBtn {
        display: none;
    }

    @media (max-width: 768px) {
        .right-side-inner-nav {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            background: #fff;
            padding: 20px;
            align-items: center;

        }

        .right-side-inner-nav {
            transition: color .3s;
        }

        .right-side-inner-nav a:hover {
            color: rgba(108, 95, 188, 1);
        }

        .right-side-inner-nav.active {
            display: flex;
        }
    }

    @media (max-width: 715px) {
        .right-side-inner-nav {
            display: none;
        }
    }

    @media (max-width:955px) {
        .content-main {
            flex-direction: column;
        }

        .left-side-content {
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    @media (max-width:1300px) {
        .right-side-content {
            img {
                width: 500px;
                height: 500px;
            }
        }

        .eatly-text {
            font-size: 13px;
            width: 350px;
        }

    }

    @media (max-width: 1024px) {
        .main-page {
            height: auto;
        }

        .container {
            overflow: hidden;
        }

        .right-side-inner-nav a {
            font-size: 12px;
        }

        .left-side-inner-nav img {
            width: 79px;
            height: 30px;
        }

        .logBtn {
            width: 73px;
            height: 45px;
            font-size: 12px;
        }

        .signBtn {
            width: 86px;
            height: 45px;
            border-radius: 12px;
            font-size: 12px;
        }

        .over-text {
            font-size: 10px;
        }

        .header-enjoy-text {
            font-size: 53px;
            width: 412px;
        }

        .eatly-text {
            font-size: 12px;
            width: 354px;
        }

        .getBtn {
            width: 110px;
            height: 41px;
            border-radius: 8px;
            font-size: 11px;
        }

        .goBtn {
            width: 78px;
            height: 41px;
            border-radius: 8px;
            font-size: 11px;
        }

        .img-main {
            width: 87px;
            height: 21px;
        }

        .stars-img img {
            width: 11px;
            height: 10px;
        }

        .stars-img {
            margin: 0;
        }

        .rate-main p {
            font-size: 11px;
        }

        .rate-main {
            gap: 10px;
        }

        .right-side-content img {
            width: 483px;
            height: 431px;
        }
    }

    @media (max-width: 480px) {
        .right-side-inner-nav {
            display: none;
        }

        .right-side-nav {
            display: none;
        }

        .menuBtn {
            display: block;
        }

        .buttons-main {
            justify-content: center;
        }

        .over-text {
            font-size: 9px;
        }

        .header-enjoy-text {
            font-size: 46px;
            width: 300px;
            text-align: center;
            /* border: 1px solid red; */
        }

        .main-page {
            height: auto;
            width: 100%;
        }

        .none {
            display: none;
        }

        .content-main {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .left-side-content {
            justify-content: center;
            align-items: center;
        }

        .eatly-text {
            text-align: center;
        }

        .buttons-main {
            display: flex;
        }

        .rate-main {
            align-items: center;
            justify-content: center;
            gap: 50px;
        }

        .right-side-content {
            img {
                width: 390px;
            }
        }
    }

    .nav-wrapper {
        width: 100%;
        max-width: 1440px;
        /* или 85%, если хочешь */
        display: flex;
        justify-content: center;
        position: relative;
    }

    .nav {
        width: 85%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgba(203, 203, 203, 1);
    }