.card-note{
    width: 345px;
    height: 88px;
    background-color: white;
    border-radius: 12px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    transition: transform .3s , box-shadow .3s;
    cursor: pointer;
}
.card-note:hover{
    transform: scale(1.1);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.name-meal{
    font-weight: 600;
    color: rgba(50, 49, 66, 1);
    font-family: var(--font-poppins);
    font-size: 19px;
}
.process-meal{
    font-weight: 500;
    font-size: 12px;
    color: rgba(50, 49, 66, 1);
    font-family: var(--font-poppins);
}
.time-meal{
    color: rgba(172, 173, 185, 1);
    font-weight: 500;
    font-size: 13px;
    font-family: var(--font-poppins);
    position: absolute;
    right: 17px;
    bottom: 10px;
}
@media (max-width: 480px) {
    .card-note {
        width: 228px;
        height: 58px;
    }
    .name-meal{
        font-size: 12px;
    }
    .process-meal{
        font-size: 7px;
    }
    .time-meal{
        font-size: 8px;
    }
}