.picing-text{
    color: rgba(249, 249, 249, 1);
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-top: 43px;
    font-family: var(--font-poppins);  
}
.block-pricing {
    width: 100%;
    height: 334px;
    background-color: rgba(92, 78, 174, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-pricing{
    height: 900px;
    width: 100%;
}
.cards1{
    display: flex;
    gap: 30px;
}
.pricing-block{
    width: 85%;   
    display: flex;
    height: auto;
    align-items: center;  
    flex-direction: column;
    padding-bottom: 100px;
}

.card1{
    width: 321px;
    height: 496px;
    background-color: white;
    box-shadow: 0 0 10px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: start;
    padding-left: 30px;
    border-radius: 20px;
    transition: all .3s;
}
.card1:hover{
    transform: scale(1.1);
}
.type-purchase{
    color: rgba(40, 40, 40, 1);
    font-weight: 600;
    font-size: 35px;
    font-family: var(--font-poppins);
}
.cost-purchase{
    color: rgba(39, 46, 53, 1);
    font-weight: 600;
    font-size: 64px;
    font-family: var(--font-poppins);
    span{
        color: rgba(110, 117, 124, 1);
        font-weight: 500;
        font-size: 16px;
    }
}
.bntStart{
    width: 146px;
    height: 58px;
    background-color: rgba(108, 95, 188, 1);
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(249, 249, 249, 1);
    font-family: var(--font-poppins);
}
.features-purchase{
    color: rgba(39, 46, 53, 1);
    font-weight: 600;
    font-family: var(--font-poppins);
    font-size: 24px;
}
.desc-purchase{
    color: rgba(110, 117, 124, 1);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-inter);
}
.ul-list{
    color: rgba(110, 117, 124, 1);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-inter);
    padding-left: 20px;
}
ul{
  list-style-image: url("/Tick.svg");
}