.card {
    width: clamp(281px, 50%, 395px);
    height: clamp(220px, 40vw, 305px);
    border-radius: 30px;
    border: 1px solid rgba(244, 244, 246, 1);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    overflow: hidden;
    transition: transform .4s;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.1);
}

.top-side-card {
    width: 100%;
    height: clamp(125px, 30vw, 176px);
    overflow: hidden;
    background: url('https://picsum.photos/395/176') no-repeat left center;
    background-size: cover;
}

.bottom-side-card {
    padding: 10px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(46px, 5vw, 65px);
    height: clamp(17px, 2vw, 24px);
    border-radius: 5px;
    background-color: rgba(247, 237, 208, 1);
    color: rgba(218, 163, 26, 1);
    font-weight: 400;
    font-size: clamp(9px, 1.5vw, 12px);
    margin-bottom: 5px;
    margin-top: 8px;
}

.nameMeal {
    color: rgba(50, 49, 66, 1);
    font-weight: 600;
    font-family: var(--font-poppins);
    font-size: clamp(18px, 2.5vw, 25px);
    margin: 5px 0;
}

.timeText {
    color: rgba(142, 151, 166, 1);
    font-weight: 400;
    font-family: var(--font-manrope);
    font-size: clamp(13px, 1.5vw, 19px);
    display: flex;
    align-items: center;
    gap: 10px;
}

.addFav {
    border: none;
    width: clamp(28px, 3vw, 40px);
    height: clamp(28px, 3vw, 40px);
    background-color: rgba(219, 217, 238, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addFav img {
    width: clamp(10px, 1.5vw, 10px);
}

.inner-bottom-side-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}