.card{
    width: 395px;
    height: 305px;
    border-radius: 30px;
    /* padding-bottom: 120px; */
    border: 1px solid rgba(244, 244, 246, 1);
    /* box-shadow: 0px 0px 56px 14px rgba(229, 229, 229, 1); */
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    overflow: hidden;
    transition: transform .4s;
    /* padding: 10px; */
}
.card:hover{
    transform: scale(1.1);
}
.top-side-card{
    width: 395px;
    height: 176px;
    overflow: hidden;
    img{
        width: 395px;
    height: 176px;
    object-fit:cover;
    /* transform: rotate(90deg); */
    }
}
.tip{
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 24px;
    border-radius: 5px;
    background-color: rgba(247, 237, 208, 1);
    color: rgba(218, 163, 26, 1);
    font-weight: 400;
    font-family: var(--font-poppins);
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 8px;
}
.bottom-side-card{
    /* padding: 10px 30px; */
    padding: 0 30px;
    background-color: white;
}
.nameMeal{
    color: rgba(50, 49, 66, 1);
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 25px;
}
.timeText{
    color: rgba(142, 151, 166, 1);
    font-weight: 400;
    font-size: 19px;
    font-family: var(--font-manrope);
    display: flex;
    align-items: center;
    gap: 10px;
}
.addFav{
    border: none;
    width: 40px;
    height: 40px;
    background-color: rgba(219, 217, 238, 1);
    border-radius: 50%;
}
.inner-bottom-side-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1024px) {
    .card{
        width: 281px;
        height: 220px;
        border-radius: 21px;
    }
    .top-side-card{
    width: 281px;
    height: 125px;
    overflow: hidden;
    img{
        width: 281;
    height: 125px;
    object-fit:cover;
    /* transform: rotate(90deg); */
    }
}
.tip{
    width: 46px;
    height: 17px;
    font-size: 9px;
}
.nameMeal{
    font-size: 18px;
}
.timeText{
    font-size: 13px;
}
.addFav{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addFav img{
    width: 10px;
}
}